body{
    background-color: #ffce29;
    color: antiquewhite;
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}

header{
    background-color: rgb(255, 57, 57);
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
}

section{
    background-color: teal;
}

section header{
    color: #00ce00;
}

aside{
    background-color: #007b4a;
}

footer{
    background-color: rgb(255,57,57);
}

nav{
    background-color: #007b4a;
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain;
    background-position: bottom;
}

h3{
    color: #00deff;
}